<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=" {{url_for('static',filename='index.js')}}"></script>
    </script>
    <title>GROUP 25 - IMDb dataset</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

    <div class="conBody">
        <div class="header" onclick="openTab('https://www.imdb.com/interfaces/')" >IMDb Dataset Interface</div>
        <div class="qSelects">
            <select id="main">
                <option value="null" selected disabled hidden>----Select----</option>
                <option value="titles">All titles</option>
                <option value="movie">Movie</option>
                <option value="tvSeries">Tv Show</option>
                <option value="people">Person</option>
            </select>
        </div>

        <div class="content"></div>

    </div>



</body>

</html>