<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src =" {{url_for('static',filename='index.js')}}"></script></script>
    <title>Document</title>
</head>

<body>

        <select id="main" >
            <option value="" selected disabled>----Select----</option>
            <option value="allTitle">All titles</option>
            <option value="movies">Movie</option>
            <option value="tvSeries">Tv Show</option>
            <option value="people">Person</option>
        </select>



</body>

</html>